@import "~/.config/rofi/colors.rasi"

configuration {
	modi: "drun,run,window,emoji";
	display-drun: " Apps";
	display-run: " Ejecutar";
	display-window: " Ventanas";
	display-emoji: "😄 Emoji";
    drun-display-format: "{icon} {name}";
    font: "Iosevka Nerd Font 14";
}

entry {
	placeholder: "";
}

window {
	width: 30%;
	border: 0;
}

listview {
	scrollbar: false;
}
