@import "~/.config/rofi/colors.rasi"

configuration {
	display-drun: " Buscar";
	display-run: " Ejecutar";
    drun-display-format: "{icon} {name}";
    font: "Cantarell 14";
}

window {
	width: 30%;
	border: 0;
}

listview {
	scrollbar: false;
}
