configuration {
  display-drun: "Applications:";
  display-window: "Windows:";
  drun-display-format: "{name}";
  font: "JetBrainsMono 10";
  modi: "window,run,drun";
}

@theme "/dev/null"

* {
  bg: rgba ( {{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}, 100 % );
  bg-alt: rgba ( {{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}}, 100 % );

  fg: rgba ( {{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}, 100 % );
  fg-alt: rgba ( {{base06-rgb-r}}, {{base06-rgb-g}}, {{base06-rgb-b}}, 100 % );
  
  border: 0;
  margin: 0;
  padding: 0;
  spacing: 0;
}

window {
  width: 30%;
}

element {
  padding: 8 0;
  text-color: @fg-alt;
}

element selected {
  text-color: @fg;
}

element-text {
  background-color: @bg;
  text-color: @fg;
  vertical-align: 0.5;
}

element-icon {
  size: 30;
}

entry {
  background-color: @bg-alt;
  padding: 12;
  text-color: @fg;
}

inputbar {
  children: [prompt, entry];
}

listview {
  padding: 8 12;
  background-color: @bg;
  columns: 1;
  lines: 8;
}

mainbox {
  background-color: @bg;
  children: [inputbar, listview];
}

prompt {
  background-color: @bg-alt;
  enabled: true;
  padding: 12 0 0 12;
  text-color: @fg;
}

